.App {
  background: rgb(245, 241, 241, 0.3);
  max-width: 700px;
  margin: 60px auto;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 12px;
  padding: 30px;
  backdrop-filter: blur(10px);
  letter-spacing: 1px;
}
