.SearchEngine .searchForm {
  border-bottom: 1px solid #647eb3;
}
.SearchEngine .searchFormInput {
  background: #fee295;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  padding: 15px 20px;
  letter-spacing: 1px;
}
.SearchEngine .searchFormButton {
  background: #647eb3;
  color: white;
  padding: 15px 25px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  letter-spacing: 1px;
}
