.WeatherForecast {
  text-align: center;
}
.WeatherForecast-temperatures {
  color: rgb(238, 90, 90);
  opacity: 0.8;
}
.WeatherForecast-temperature-min {
  padding-left: 5px;
}
.WeatherForecast-temperature-max {
  font-weight: bold;
}
