.WeatherForecast {
  text-align: center;
  margin: 0;
  font-size: 17px;
}
.WeatherForecast-day {
  color: rgba(33, 33, 33, 0.6);
}
.WeatherForecast-temperatures {
  color: rgb(223, 80, 80);
  opacity: 0.8;
  font-size: 18px;
}
.WeatherForecast-temperature-min {
  padding-left: 10px;
}
.WeatherForecast-temperature-max {
  font-weight: bold;
}
.WeatherForecast svg {
  display: block;
  margin: 20px auto;
}
